.Item{
    width:350px;
}
.Item p{
    margin: 6px 0px;
}
.Item_Price{
    display: flex;
    gap:20px;
    align-items: center;

}
.item_new_price{
    color:grey;
    font-size: 18px;
    font-weight: 600;
}
.item_old_price{
    text-decoration: line-through;
    color:rgba(128, 128, 128, 0.491);
    font-size: 18px;
    font-weight: 600;
}
.Item:hover{
    transform:scale(1.05);
    transition: 0.6s;
}